Repository circlefin/malachite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cason, @josef-widder, @ancazamfir, @romac, @adizere, @greg-szabo, @nenadmilosevic95

.github/CODEOWNERS:

/specs/ @cason @josef-widder
/code/ @ancazamfir @romac
/code/examples @ancazamfir @romac
/docs/ @adizere @ancazamfir @romac
/scripts/ @ancazamfir @romac
/qa/ @greg-szabo @nenadmilosevic95
/*.md @adizere @ancazamfir @romac
/*.yml @romac
/*.toml @romac

fix(code/engine): Use custom version of `OutputPort` with configurable capacity
  code/crates/engine/src/network.rs
  code/crates/engine/src/util/mod.rs
  code/crates/engine/src/util/output_port.rs
  code/crates/engine/src/util/timers.rs
Owners: @ancazamfir, @romac

Change test app to always propose different values at different (height, round)
  code/crates/test/app/src/state.rs
Owners: @ancazamfir, @romac

Cleanup test
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Equivocate proposal if configured as byzantine
  code/crates/test/app/src/app.rs
Owners: @ancazamfir, @romac

Temp change to allow test app to replay seen values if non-proposer
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/src/context.rs
  code/examples/channel/src/app.rs
Owners: @ancazamfir, @romac

Fix compilation error
  code/crates/starknet/host/src/codec.rs
Owners: @ancazamfir, @romac

Clippy
  code/crates/core-driver/src/driver.rs
Owners: @ancazamfir, @romac

Schedule the request/response related timers only if configured
  code/crates/core-consensus/src/handle/driver.rs
Owners: @ancazamfir, @romac

Formatting
  code/crates/core-consensus/src/handle/driver.rs
Owners: @ancazamfir, @romac

docs: added file to ADR 003 on values propopagation
  docs/architecture/adr-003-values-propagation.md
  docs/architecture/readme.md
Owners: @adizere, @ancazamfir, @romac

docs: ADR 003 general Context
  docs/architecture/adr-003-values-propagation.md
Owners: @adizere, @ancazamfir, @romac

docs: ADR 003, Tendermint context vs general one
  docs/architecture/adr-003-values-propagation.md
Owners: @adizere, @ancazamfir, @romac

docs: ADR 003, Value Propagation context
  docs/architecture/adr-003-values-propagation.md
Owners: @adizere, @ancazamfir, @romac

Code review
  CONTRIBUTING_CODE.md
Owners: @adizere, @ancazamfir, @romac

Fix
  CONTRIBUTING_CODE.md
Owners: @adizere, @ancazamfir, @romac

docs: ADR 103 Alternatives overview
  docs/architecture/adr-003-values-propagation.md
Owners: @adizere, @ancazamfir, @romac

Move reply with undecided proposal from `ConsensusReady` to `StartedRound`
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Owners: @ancazamfir, @romac

Change `ConsensusReady` message to force reply with height and validator set
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/examples/channel/src/app.rs
Owners: @ancazamfir, @romac

Cleanup logs when ticker fails
  code/crates/engine/src/sync.rs
  code/crates/engine/src/util/ticker.rs
Owners: @ancazamfir, @romac

Cleanup duplicated spans
  code/crates/app-channel/src/run.rs
Owners: @ancazamfir, @romac

Change span name for apps
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/node.rs
Owners: @ancazamfir, @romac

chore(code/app): Move reply with undecided proposal from `ConsensusReady` to `StartedRound` (#885)
  code/crates/app-channel/src/connector.rs
  code/crates/app-channel/src/msgs.rs
  code/crates/app-channel/src/run.rs
  code/crates/engine/src/sync.rs
  code/crates/engine/src/util/ticker.rs
  code/crates/starknet/host/src/node.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
Owners: @ancazamfir, @romac

network config fixes and dashboard metric fixes
  qa/terraform/templates/commands.tmpl
  qa/viewer/config-grafana/provisioning/dashboards-data/main.json
Owners: @greg-szabo, @nenadmilosevic95

Disallow use of ractor's output port
  code/Cargo.toml
  code/clippy.toml
  code/crates/starknet/host/src/mempool/network.rs
Owners: @ancazamfir, @romac

Get polka certificate for previous rounds
  code/crates/core-consensus/src/state.rs
  code/crates/core-types/src/round.rs
Owners: @ancazamfir, @romac

Get polka certificates for all rounds up to `round` included
  code/crates/core-consensus/src/effect.rs
  code/crates/core-consensus/src/handle/vote_set.rs
  code/crates/core-consensus/src/input.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/util/events.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/starknet/p2p-proto/proto/sync.proto
  code/crates/sync/src/types.rs
  code/crates/test/proto/sync.proto
  code/crates/test/src/codec/proto/mod.rs
Owners: @ancazamfir, @romac

Get votes for `round` and all later rounds
  code/crates/core-consensus/src/state.rs
  code/crates/core-votekeeper/src/keeper.rs
Owners: @ancazamfir, @romac

Test app only supports `parts-only` mode
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Better output when running multiple tests
  code/.config/nextest.toml
Owners: @ancazamfir, @romac

chore(code): Refactor Starknet app config loading
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/node.rs
  code/crates/starknet/test/src/lib.rs
  code/crates/test/src/lib.rs
Owners: @ancazamfir, @romac

Test workflow after greg's fixes
  .github/workflows/qa.yml
Owners: none

Remove restriction on parts-only mode
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

fix(code/engine): Ensure the height in the tracing span matches the height we are about to start
  code/crates/engine/src/consensus.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/thread.rs
Owners: @ancazamfir, @romac

Fix duplicated node span
  code/crates/app-channel/src/run.rs
Owners: @ancazamfir, @romac

Remove debug statements
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Owners: @ancazamfir, @romac

fixed incorrect link in message-handling.md
  specs/consensus/message-handling.md
Owners: @cason, @josef-widder

fix: simplified disabled discovery + reduced info verbosity
  code/crates/discovery/src/handlers/close.rs
  code/crates/discovery/src/handlers/connect_request.rs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/extension.rs
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/handlers/peers_management.rs
  code/crates/discovery/src/handlers/peers_request.rs
  code/crates/discovery/src/handlers/selection/selector.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/test/src/lib.rs
  code/crates/network/test/tests/discovery.rs
Owners: @ancazamfir, @romac

fix: metrics + adjusted integration tests
  code/crates/discovery/src/handlers/helpers.rs
  code/crates/starknet/test/src/lib.rs
Owners: @ancazamfir, @romac

fix: adjusted default discovery config
  code/crates/config/src/lib.rs
  code/crates/starknet/test/src/lib.rs
Owners: @ancazamfir, @romac

Use structured values in logs
  code/crates/discovery/src/handlers/dial.rs
  code/crates/discovery/src/handlers/identify.rs
  code/crates/discovery/src/lib.rs
  code/crates/network/test/src/lib.rs
Owners: @ancazamfir, @romac
