Repository circlefin/malachite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cason, @josef-widder, @ancazamfir, @romac, @adizere, @greg-szabo, @nenadmilosevic95

.github/CODEOWNERS:

/specs/ @cason @josef-widder
/code/ @ancazamfir @romac
/code/examples @ancazamfir @romac
/docs/ @adizere @ancazamfir @romac
/scripts/ @ancazamfir @romac
/qa/ @greg-szabo @nenadmilosevic95
/*.md @adizere @ancazamfir @romac
/*.yml @romac
/*.toml @romac

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Store synced value in example app
  code/examples/channel/src/app.rs
Owners: @ancazamfir, @romac

Less noisy logs in some places
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/engine/src/consensus.rs
  code/crates/test/app/src/app.rs
Owners: @ancazamfir, @romac

Remove pending value response when we get a response, before it is even processed, in case processing fails
  code/crates/sync/src/handle.rs
Owners: @ancazamfir, @romac

Improve logs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Owners: @ancazamfir, @romac

More consistent logs
  code/crates/sync/src/handle.rs
Owners: @ancazamfir, @romac

More consistent logs
  code/crates/sync/src/handle.rs
Owners: @ancazamfir, @romac

new version of locked value section
  specs/consensus/overview.md
Owners: @cason, @josef-widder

finish pass on correctness section
  specs/consensus/overview.md
Owners: @cason, @josef-widder

remove comment
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Ignore rebcast tests and increase timeouts of others
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

fix(code/app): Add the POL round to `ProposalInit` message of the example and test applications (#904)
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/proposal_part.rs
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Owners: @ancazamfir, @romac

typo
  specs/consensus/overview.md
Owners: @cason, @josef-widder

feat(code): Polka test and fixes (#899)
  code/crates/app-channel/src/msgs.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/proposal_part.rs
  code/crates/test/tests/it/main.rs
  code/crates/test/tests/it/n3f0.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
  code/scripts/spawn.bash
Owners: @ancazamfir, @romac

feat(code/app): Change the log level dynamically when consensus enters round > 0
  code/crates/test/cli/src/logging.rs
  code/examples/channel/src/app.rs
Owners: @ancazamfir, @romac

Add debug logging
  code/Cargo.lock
  code/Cargo.toml
  code/crates/core-driver/Cargo.toml
  code/crates/core-driver/src/mux.rs
  code/crates/test/framework/src/logging.rs
Owners: @ancazamfir, @romac

Fix standalone
  code/Cargo.toml
  code/crates/core-driver/Cargo.toml
Owners: @ancazamfir, @romac

Enable debug logs
  .github/workflows/rust.yml
Owners: none

Print logging directive
  code/crates/test/framework/src/logging.rs
Owners: @ancazamfir, @romac

Forward MALACHITE_DEBUG env variable in Maelstrom
  code/cargo-maelstrom.toml
Owners: @ancazamfir, @romac

fix test driver_steps_polka_previous_not_locked_vote_last_l30
  code/crates/core-driver/tests/it/extra.rs
Owners: @ancazamfir, @romac

Use QUIC
  .github/workflows/rust.yml
  code/cargo-maelstrom.toml
Owners: @ancazamfir, @romac

new test for l32
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Owners: @ancazamfir, @romac

Undo vote equivocation hack
  code/Cargo.lock
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
Owners: @ancazamfir, @romac

Naming
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Owners: @ancazamfir, @romac

detailed execution for test for l32 without Byzantine behavior
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Owners: @ancazamfir, @romac

Revert "Use QUIC"
  .github/workflows/rust.yml
  code/cargo-maelstrom.toml
Owners: @ancazamfir, @romac

small changes to test descriptions
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Owners: @ancazamfir, @romac

fix so all tests pass
  code/crates/core-driver/tests/it/extra.rs
  code/crates/core-driver/tests/it/utils.rs
Owners: @ancazamfir, @romac

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

added one sentence in valid value section
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Cleanup and revert some changes, disable failing test
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
  code/scripts/spawn.bash
Owners: @ancazamfir, @romac

Ignore proposal only tests
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Ignore the failing test for now
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Apply suggestions from code review
  code/scripts/spawn.bash
Owners: @ancazamfir, @romac

chore(code): Undo vote equivocation hack (#914)
  code/Cargo.lock
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/test/app/src/app.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
  code/scripts/spawn.bash
Owners: @ancazamfir, @romac

Add assert for non empty commit certificate
  code/crates/engine/src/consensus.rs
Owners: @ancazamfir, @romac
