Repository circlefin/malachite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cason, @josef-widder, @ancazamfir, @romac, @adizere, @greg-szabo, @nenadmilosevic95

.github/CODEOWNERS:

/specs/ @cason @josef-widder
/code/ @ancazamfir @romac
/code/examples @ancazamfir @romac
/docs/ @adizere @ancazamfir @romac
/scripts/ @ancazamfir @romac
/qa/ @greg-szabo @nenadmilosevic95
/*.md @adizere @ancazamfir @romac
/*.yml @romac
/*.toml @romac

Remove peer id from network span
  code/crates/network/src/lib.rs
Owners: @ancazamfir, @romac

CC configurable, prometheus polling 2s
  qa/terraform/cc.tf
  qa/terraform/variables.tf
  qa/viewer/config-prometheus/prometheus.yml
Owners: @greg-szabo, @nenadmilosevic95

dashboard update
  qa/viewer/config-grafana/provisioning/dashboards-data/main.json
Owners: @greg-szabo, @nenadmilosevic95

test qa with 4 nodes
  .github/workflows/qa.yml
Owners: none

docs: ADR 003, Context simplified and rewritten
  docs/architecture/adr-003-values-propagation.md
Owners: @adizere, @ancazamfir, @romac

chore(code/core-consensus): Cancel commit timeout in `on_decide` handler
  code/crates/core-consensus/src/handle/decide.rs
  code/crates/core-consensus/src/handle/timeout.rs
Owners: @ancazamfir, @romac

Sort votes and certificates by round in ascending order
  code/crates/core-consensus/src/state.rs
Owners: @ancazamfir, @romac

Revert "Sort votes and certificates by round in ascending order"
  code/crates/core-consensus/src/state.rs
Owners: @ancazamfir, @romac

full setup with less output
  .github/workflows/qa.yml
Owners: none

full qa run
  .github/workflows/qa.yml
Owners: none

Replay WAL before start round
  code/crates/engine/src/consensus.rs
  code/crates/metrics/src/metrics.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Hack driver to vote equivocate in round 0 and if proposer
  code/crates/core-consensus/src/handle/driver.rs
  code/crates/core-consensus/src/state.rs
Owners: @ancazamfir, @romac

Add check for proposals with valid round when muxing the polka certificate
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
Owners: @ancazamfir, @romac

Check for polka certificate when a proposal is received
  code/crates/core-driver/src/mux.rs
Owners: @ancazamfir, @romac

Better spawn.bash for multi node testing
  code/scripts/spawn.bash
Owners: @ancazamfir, @romac

Fix restreaming related issues in test app
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/node.rs
  code/crates/test/app/src/state.rs
  code/crates/test/app/src/store.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/main.rs
Owners: @ancazamfir, @romac

Change test parameters to trigger polka cert dissemination
  code/crates/test/tests/it/n3f0.rs
Owners: @ancazamfir, @romac

Fix restreaming related issues in channel app
  code/examples/channel/src/app.rs
  code/examples/channel/src/node.rs
  code/examples/channel/src/state.rs
  code/examples/channel/src/store.rs
Owners: @ancazamfir, @romac

Only equivocate at initial height
  code/crates/core-consensus/src/handle/driver.rs
Owners: @ancazamfir, @romac

Clean spwan script
  code/scripts/spawn.bash
Owners: @ancazamfir, @romac

Change the test framework default to proposal and parts
  code/crates/starknet/test/src/tests/value_sync.rs
  code/crates/test/framework/src/params.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

docs: Fix incorrect preposition in documentation
  README.md
Owners: @adizere, @ancazamfir, @romac

fix: fixed minor issues and proposed improvements
  scripts/quint-forall.sh
Owners: @ancazamfir, @romac

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder

second pass
  specs/consensus/overview.md
Owners: @cason, @josef-widder

Temp disable parts-only it tests
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Temp disable rebroadcast it tests
  code/crates/test/tests/it/vote_sync_bcast.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

fix(code/core-consensus): Only persist votes in the WAL if they have not yet been seen
  code/crates/core-consensus/src/handle/vote.rs
  code/crates/core-votekeeper/src/keeper.rs
Owners: @ancazamfir, @romac

feat(code/wal): Add facilities for dumping the WAL entries
  code/Cargo.lock
  code/crates/app/Cargo.toml
  code/crates/app/src/lib.rs
  code/crates/engine/src/wal.rs
  code/crates/engine/src/wal/iter.rs
  code/crates/engine/src/wal/thread.rs
  code/crates/starknet/app/src/main.rs
  code/crates/starknet/host/src/codec.rs
  code/crates/test/cli/src/args.rs
  code/crates/test/cli/src/cmd/dump_wal.rs
  code/crates/test/cli/src/cmd/mod.rs
  code/crates/test/src/codec/proto/mod.rs
  code/examples/channel/src/main.rs
Owners: @ancazamfir, @romac

fix(code/app): Add the POL round to `ProposalInit` message of the example and test applications
  code/crates/app-channel/src/msgs.rs
  code/crates/test/app/src/app.rs
  code/crates/test/app/src/state.rs
  code/crates/test/proto/consensus.proto
  code/crates/test/src/proposal_part.rs
  code/examples/channel/src/app.rs
  code/examples/channel/src/state.rs
Owners: @ancazamfir, @romac

Re-enable parts-only tests
  code/crates/test/tests/it/n3f0_consensus_mode.rs
  code/crates/test/tests/it/value_sync.rs
  code/crates/test/tests/it/vote_sync.rs
  code/crates/test/tests/it/wal.rs
Owners: @ancazamfir, @romac

Trying L28 with the last prevote in polka previous
  code/crates/core-driver/src/driver.rs
  code/crates/core-driver/src/mux.rs
  code/crates/core-driver/tests/it/extra.rs
Owners: @ancazamfir, @romac

Set valid_round on proposed value
  code/crates/test/app/src/state.rs
  code/examples/channel/src/state.rs
Owners: @ancazamfir, @romac

Correct test name and last step
  code/crates/core-driver/tests/it/extra.rs
Owners: @ancazamfir, @romac

Do not sync before consensus has started, improve sync logs
  code/crates/engine/src/sync.rs
  code/crates/sync/src/handle.rs
  code/crates/sync/src/state.rs
Owners: @ancazamfir, @romac

Remove unused `GetStatus` message
  code/crates/engine/src/consensus.rs
Owners: @ancazamfir, @romac

Ensure `ConsensusReady` is only ever sent once to the host
  code/crates/engine/src/consensus.rs
Owners: @ancazamfir, @romac

Update specs/consensus/overview.md
  specs/consensus/overview.md
Owners: @cason, @josef-widder
